<% provide(:title, 'All users') %>
<h1>All Group</h1>
<%= will_paginate %>
<ul class="teams">
  <% @teams.each do |team| %>
    <li>
      <%= link_to team.name, team %>
      (by <%= team.owner.name %>) (<%= team.members.count%>)
    </li>
  <% end %>
</ul>
<%= will_paginate %>