<br/>
<% if group_micropost.has_comment? %>
  <% group_micropost.group_comments.each do |group_comment| %>
    <div class="micropost-display">
      @<%= group_comment.user.name %>:
      <%= wrap(group_comment.content) %>
      <% if group_comment.user_id == current_user.id || group_micropost.user_id == current_user.id%>
        <%= link_to "Edit", edit_group_group_micropost_group_comment_path(@group, group_micropost, group_comment), class: "non-redirect edit_micropost_btn" %>
        <%= link_to "Del", group_group_micropost_group_comment_path(@group, group_micropost, group_comment), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
    <div class="edit_micropost_wrap">
      <%= form_for [@group, group_micropost, @group_comment] do |f| %>
        <%= f.text_area :content, placeholder: "What's on your mind?" %>
        <%= f.submit "Update", class: "btn btn-primary non-redirect update_micropost_btn" %>
      <% end %>
    </div>
  <% end %>
<% end %>
<%= form_for [@group, group_micropost, @group_comment] do |group_comment| %>
  <span class="field">
    <%= group_comment.text_field :content, placeholder: "Comment.."  %>
    <%= group_comment.submit "Post" %>
  </span>
<% end %>

<script>
$("a.non-redirect").click(function(event){
    event.preventDefault();
});

$('.edit_micropost_btn').click(function() {
  $(this).parent().hide();
  $(this).parent().next('.edit_micropost_wrap').show();
});

$('.update_micropost_btn').click(function() {
  $(this).parent().hide();
  $(this).parent().prev('.micropost-display').show();
});

$('.edit_comment_btn').click(function() {
  $(this).parent().hide();
  $(this).parent().next('.edit_comment_wrap').show();
});
</script>