<% provide(:title, "Create Group") %>
<div class="left-sidebar">
  <%= render "layouts/left_sidebar" %>
</div>
<div class="main-content">
  <h1>
    Create group
  </h1>
    
      <%= form_for (@group) do |f| %>
      	<%= render "shared/error_messages", object: f.object %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit "Create", class: "btn btn btn-primary" %>
      <% end %>
</div>