<% provide(:title, @group.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @group.name %>
      </h1>
    <span>
	 		Owner: <%= link_to @group.owner.name, @group.owner %>
	</span>
  <%= render 'join_form' if signed_in? %>
    <% if @group.members.any? %>
      <h3>Members (<%= @group.members.count %>)</h3>
      <ol class="members">
        <%= render partial: 'groups/member', collection: @members %>
      </ol>
      <%= will_paginate @members %>
    <% end %>
    </section>
  </aside>
</div>