<% provide(:title, "Edit user") %>
<div class="left-sidebar">
  <%= render "layouts/left_sidebar" %>
</div>
<div class="main-content">
  <h1>Update your profile</h1>
  <div class="span5 offset1">
    <%= form_for(@user) do |f| %>
      <%= render "shared/error_messages" , object: f.object%>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :birthday, "Birthday" %>
      <%= f.text_field :birthday, value: l(DateTime.now), class: "date-field" %>

      <%= f.label :sex %>  
      <%= f.radio_button :sex, "male", :checked => true %> Male
      <%= f.radio_button :sex, "famale" %> Female
      <%= f.radio_button :sex, "other" %> Other

      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <label>My Avatar</label>
      <%= image_tag(@user.avatar_url) if @user.avatar? %>
      <%= f.file_field :avatar %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>