
<h2>find friend</h2>
<%= form_for @search, url: users_path, method: :get do |f| %>
  <%=f.label :name %>
  <%=f.text_field :name  %>
  <%=f.submit %>
<% end %>

<% @users.each do |user| %>
 <h2><%= link_to user.name, user %></h2>
<% end %>