<% provide(:title, @user.name) %>
<div class="left-sidebar">
  <section>
    <%= render "shared/user_info", user: @user %>
    <% unless current_user?(@user) || current_user.requested_friends.include?(@user) || current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
      <%= link_to "Add friend", user_friendships_path(@user.id), method: :post, :class => 'btn btn-mini' %>
    <% end %>
    <section>
  </section>
  <section>
    <h3>
      <%= link_to "Photos Albums", user_albums_path(@user) %> (<%= @user.albums.count %>)
    </h3>
  <section>
    <%= render "shared/user_profile", user: @user %>
  </section>
</div>
  <div class="main-content">
    <section>
    <% if current_user?(@user) || current_user.friends.include?(@user)%>
      <%= render "shared/micropost_form", user: @user %>
    <%end%>
  </section>
  <% if current_user?(@user) %>
    <h3> My page</h3>
    <ul class="posts">
      <% @microposts.each do |micropost| %>
        <% if micropost.friend_id == current_user.id %>
          <% unless micropost.user_id == current_user.id %>
            <%= micropost.user.name %> TO <%= current_user.name %>
          <% end %>
          <% if current_user?(@user)||current_user.friends.include?(@user) %>
            <%= render "shared/list_microposts", micropost: micropost %>
          <% end %> 
        <% end %> 
      <% end %>
    </ul>
  <% else %> 
    <h3> 
      Time line
    </h3>
    <ul class="posts">
      <% @microposts.each do |micropost| %>
        <% if micropost.friend_id == @user.id && micropost.is_public?%>
          <%= render "shared/list_microposts", micropost: micropost %>
        <% end %> 
      <% end %>
    </ul>
  <% end %>
  </div>
  <div class="right-sidebar">
      <section>
        <%= render "shared/activities" %>
      </section>
    </div>
</div>