<% provide(:title, @user.name) %>
<% if signed_in? %>
  <% unless @user == current_user || current_user.requested_friends.include?(@user) || current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
 <%= link_to "Add friend", user_friendships_path(@user.id), method: :post, :class => 'btn btn-mini' %>
  <% end %>
<% end %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <% @user.microposts.each do |micropost| %>
          <% if current_user?(@user) %>
            <li> 
              <%= micropost.content %> 
              <% if micropost.status==true %>public
              <% else %> private <% end %>
            </li>
          <% elsif micropost.status == true %>
            <li> 
              <%= micropost.content %> 
              <% if micropost.status==true %>public
              <% else %> private <% end %>
            </li>
          <% end %>
        <% end %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>