<% activities.each do |activity| %>
  <div class="activity-item">
    <% if current_user.friends.include?(activity.owner) && activity.trackable %>
      <% if activity.trackable_type == Comment.name && activity.trackable %>
        <% if activity.owner.avatar.blank? %>
          <%= link_to image_tag("no_ava.jpg"), activity.owner, class: "avatar-small" %>
        <% elsif activity.owner.avatar? %>
          <%= link_to image_tag(activity.owner.avatar), activity.owner, class: "avatar-small" %>
        <% end %>
      <%= link_to activity.owner.name, activity.owner if activity.owner %>
      added comment to 
      <%= link_to activity.trackable.micropost.content[0..14],  user_micropost_path(activity.trackable.micropost.friend_id,activity.trackable.micropost), class: "activity-content" %></div>
      <div class="activity-item">
      <% elsif activity.trackable_type == Micropost.name && activity.trackable %>
        <%if activity.trackable.user_id == activity.trackable.friend_id %>
          <% if activity.owner.avatar.blank? %>
            <%= link_to image_tag("no_ava.jpg"), activity.owner, class: "avatar-small" %>
          <% elsif activity.owner.avatar? %>
            <%= link_to image_tag(activity.owner.avatar), activity.owner, class: "avatar-small" %>
           <% end %>
          <%= link_to activity.owner.name, activity.owner %>
          create status <%= link_to activity.trackable.content[0..14], user_micropost_path(activity.trackable.friend_id,activity.trackable), class: "activity-content" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>