<% if micropost.has_comment? %>
  <% micropost.comments.each do |comment| %>
    <div class="comment-display">
      @<%= comment.user.name %>:
      <%= wrap(comment.content) %>
      <span class="timestamp">
        Posted <%= time_ago_in_words(comment.created_at) %> ago.
      </span>
      <%= render "shared/like_comment", micropost: micropost, comment: comment %>
      <% if comment.user_id == current_user.id %>
        <%= link_to 'Edit',  edit_user_micropost_comment_path(current_user, micropost, comment), class: "non-redirect edit_comment_btn" %>
        <%= link_to 'Del', user_micropost_comment_path(current_user, micropost, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <div class="edit_comment_wrap">
      <%= form_for [current_user, micropost, comment] do |f| %>
        <%= f.text_field :content, placeholder: "What's on your mind" %>
        <%= f.submit "Update", class: "btn btn-primary non-redirect update_comment_btn" %>
      <% end %>
    </div>
  <% end %>
<% end %>
<br/>
<% if current_user.friends.include?(micropost.user_id) || micropost.user_id == current_user.id%>
  <%= form_for [current_user, micropost, @comments] do |comment| %>
    <%= render 'shared/error_messages', object: comment.object %>
    <span class="field">
      <%= comment.text_field :content, placeholder: "Comment.."  %>
      <%= comment.submit "Post" %>
    </span>
  <% end %>
<% end %>