<li>
  <div> 
    <% if micropost.user.avatar.blank? %>
        <%= link_to gravatar_for(micropost.user, size: 52), micropost.user, class: "avatar-medium" %>
      <% elsif micropost.user.avatar? %>
        <%= link_to image_tag(micropost.user.avatar), micropost.user, class: "avatar-medium" %>
      <% end %>
    <div class="micropost-home">

      <span class="user">        
        <%= link_to micropost.user.name, micropost.user %>
        <% if micropost.is_public? %> Public
        <% else %> Private
        <% end %>
      </span>
      <div class="micropost-display">
        <%= exercept micropost.content %> 
        <br/>
        <span class="timestamp">
          about <%= time_ago_in_words(micropost.created_at) %> ago.
        </span>
        <%= render "shared/like_micropost", micropost: micropost, user: @user %>
        <% if micropost.friend_id == current_user.id %>
          <% if micropost.user_id == current_user.id %>
            <%= link_to 'edit',  edit_user_micropost_path(current_user, micropost), class: "non-redirect edit_micropost_btn" %>
          <% end %>
          <%= link_to 'del', user_micropost_path(current_user, micropost), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      <div class="edit_micropost_wrap">
        <%= form_for [current_user, micropost] do |f| %>
          <%= f.text_area :content %>
          <%= f.submit "Update", class: "btn btn-primary non-redirect update_micropost_btn" %>
        <% end %>
      </div>
    </div>
    <span class="custom-comment">
      <%= render "shared/comment_form",micropost: micropost %>
    </span>
  </div> 
</li>
<script>
  $("a.non-redirect").click(function(event){
      event.preventDefault();
  });

  $('.edit_micropost_btn').click(function() {
    $(this).parent().hide();
    $(this).parent().next('.edit_micropost_wrap').show();
  });

  $('.update_micropost_btn').click(function() {
    $(this).parent().hide();
    $(this).parent().prev('.micropost-display').show();
  });
</script>