<li>
  <%= link_to gravatar_for(micropost.user),micropost.user %>
  <span class="user">
  <%= link_to micropost.user.name, micropost.user %>
     <% if micropost.is_public? %> Public
     <% else %> Private
     <% end %>
  </span>
  <span class="content">
    <%= exercept micropost.content %>
    
    <span class="custom-comment">
        <%= render "shared/comment_form",micropost: micropost %>
    </span>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if micropost.user_id == current_user.id %>
    <td><%= link_to 'Edit',  edit_user_micropost_path(current_user, micropost) %></td>
    <td><%= link_to 'Del', user_micropost_path(current_user, micropost), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</li>