<%= form_for [user, @micropost] do |micropost| %>
  <div class="field">
    <%= micropost.text_area :content, placeholder: "Update new status..." %> 
    <%= micropost.radio_button :status, 'true', :checked => true %> Public
    <%= micropost.radio_button :status, 'false' %> Private
  </div><br>
  <%= micropost.submit "Post", class: "btn btn btn-primary" %>
<% end %>