<h1>My Profile</h1>
<span>
  Name: <%= current_user.name %>
</span>
<span>
  Email: <%= current_user.email %>
</span>
<span>
  Birthday: <%= current_user.birthday %>
</span>
<span>
  Sex: <%= current_user.sex %>
</span>
<span>
  Phone: <%= current_user.phone_number %>
</span>