<h1>My Profile</h1>
<span>
  Name: <%= user.name %>
</span>
<span>
  Email: <%= user.email %>
</span>
<span>
  Birthday: <%= user.birthday %>
</span>
<span>
  Sex: <%= user.sex %>
</span>
<span>
  Phone: <%= user.phone_number %>
</span>
<span>
  Friends: <%= user.friends.count %>
</span>