<h3>Profile</h3>
<span>
  Name: <%= user.name %>
</span>
<br/>
<span>
  Email: <%= user.email %>
</span>
<br/>
<% if user.birthday.present? %>
  <span>
    Birthday: <%= l user.birthday %>
  </span>
<% else %>
  <span>
    Birthday:
  </span>
<% end %>
<br/>
<span>
  Sex: <%= user.sex %>
</span>
<br/>
<span>
  Phone: <%= user.phone_number %>
</span>
<br/>
<span>
  Friends: <%= user.friends.count %>
</span>