<% if @user.friends.empty? %>
  not friend
<% else %>
  <ul class="friends">
    <% @user.friends.each do |user| %>
      <li>
        <% if user.avatar.blank? %>
          <%= link_to image_tag("no_ava.jpg"), user, class: "avatar-medium" %>
        <% elsif user.avatar? %>
          <%= link_to image_tag(user.avatar), user, class: "avatar-medium" %>
        <% end %>
        <div class="info">
          <%= link_to user.name, user_path(user.id) %>
          <% if current_user?(@user) %>
            <br/>
            <%= link_to "unfriend", user_friendship_path(current_user.id, user.id), method: :delete, confirm: "Reject friend request! Are you sure?", class: "btn btn-mini floatright" %>
          <% end %>
          <% unless current_user?(user) || current_user.requested_friends.include?(user) || current_user.friends.include?(user) || current_user.pending_friends.include?(user) %>
          <%= link_to "Add friend", user_friendships_path(user.id), method: :post, :class => "btn btn-mini" %>
          <% end %> 
        </div>
      </li>
    <% end %>
  </ul>
<% end %>