<% unless @user.pending_friends.empty? %>
  <ul class="friends">
    <% @user.pending_friends.each do |user| %>
      <li>
        <% if user.avatar.blank? %>
          <%= link_to image_tag("no_ava.jpg"), user, class: "avatar-medium" %>
        <% elsif user.avatar? %>
          <%= link_to image_tag(user.avatar), user, class: "avatar-medium" %>
        <% end %>
        <div class="info">
          <%= link_to user.name, user_path(user.id) %><br/>
          <% if signed_in? && @user = current_user %>
            <%= link_to "confirm", user_friendship_path(current_user.id,user.id), method: :put, confirm: "Accept friend request! Are you sure?", class: "btn btn-mini floatright" %>
            <%= link_to "not now", user_friendship_path(current_user.id, user.id), method: :delete, confirm: "Reject friend request! Are you sure?", class: "btn btn-mini floatright"  %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  None
<% end %>