<div class="field">
  <%= form_for [current_user, @micropost] do |micropost| %>
    <% if @micropost.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>
        <ul>
          <% @micropost.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= micropost.label :content %><br>
    <%= micropost.text_field :content, placeholder: "What's on your mind?"  %>
    <%= micropost.radio_button :status, 'true', :checked => true %> Public
    <%= micropost.radio_button :status, 'false', :checked => false %> Private
    <div class="actions">
      <%= micropost.submit %>
    </div>
  <% end %>
</div>
