<div class="field">
  <%= form_for [current_user, @micropost] do |micropost| %>
    <%= render "shared/error_messages", object: micropost.object %>
    <%= micropost.label :content %><br/>
    <%= micropost.text_field :content, placeholder: "What's on your mind?" %>
    <%= micropost.radio_button :status, "true", checked: true %> Public
    <%= micropost.radio_button :status, "false", checked: false %> Private
    <div class="actions">
      <%= micropost.submit %>
    </div>
  <% end %>
</div>