<h1>Listing microposts</h1>
<table>
  <body>
    <div class="span8">
      <td><%= link_to 'new status',  new_user_micropost_path(current_user) %></td>
        <% @microposts.each do |micropost| %>
          <%if current_user?(@user)%>
            <tr>
              <td><%= link_to micropost.content, user_micropost_path(current_user, micropost) %></td>
              <td>
                <%if micropost.is_public?%>
                  <%= link_to "Public", edit_user_micropost_path(current_user, micropost) %>
                <%else%>
                  <%= link_to "Private", edit_user_micropost_path(current_user, micropost) %>
                 <%end%>
              </td>
              <td><%= link_to 'comment',  user_micropost_path(current_user, micropost) %></td>
              <td><%= link_to 'Edit',  edit_user_micropost_path(current_user, micropost) %></td>
              <td><%= link_to 'Destroy', user_micropost_path(current_user, micropost), method: :delete,data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <%else%>
            <%if micropost.is_public?%>
              <tr>
                <td><%= link_to micropost.content, user_micropost_path(current_user, micropost) %></td>
                <td><%= link_to 'comment',  user_micropost_path(current_user, micropost) %></td>
              </tr>
            <%else%>
            <% end %>
          <% end %>
        <% end %>
  </div>
  </tbody>
</table>