<% provide(:title, "Microposts") %>
<%= render "form" %>
<% @microposts.each do |micropost| %>
  <%if micropost.user_id == current_user.id%>
    <li><%= micropost.content %></li>
    <td>
      <%if micropost.is_public?%>
        <%= link_to "Public", edit_user_micropost_path(current_user, micropost) %>
      <%else%>
        <%= link_to "Private", edit_user_micropost_path(current_user, micropost) %>
      <%end%>
    </td>
    <td><%= link_to 'comment',  user_micropost_path(current_user, micropost) %></td>
    <td><%= link_to 'Edit',  edit_user_micropost_path(current_user, micropost) %></td>
    <td><%= link_to 'Destroy', user_micropost_path(current_user, micropost), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% if micropost.has_comment? %>
        <% micropost.comments.each do |comment| %>
          <ul><%=comment.user_id%></ul>
          <ul><%= comment.content %></ul>
        <% end %>
      <% end %>
  <% elsif micropost.status == true %>
    <li><%= micropost.content %></li>
    <% if micropost.has_comment? %>
      <% micropost.comments.each do |comment| %>
          <ul><%=comment.user_id%></ul>
          <ul><%= comment.content %></ul>
      <% end %>
    <% end %>
  <% end %>
<% end %>