<% provide(:title, "Comment Entry") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @micropost.user %>
        <%= @micropost.user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <%if current_user?(@user) %>
      <span class="content">
      	<%= wrap(@micropost.content) %>
        <%if @micropost.is_public?%>
          <%= link_to "Public", edit_user_micropost_path(current_user, @micropost) %>
        <%else%>
          <%= link_to "Private", edit_user_micropost_path(current_user, @micropost) %>
        <%end%>
      </span>
      <%= form_for [current_user, @micropost, @comments] do |f| %>
        <% if @comments.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this micropost from being saved:</h2>
            <ul>
              <% @comments.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <span class="field">
          <%= f.text_field :content %>
        </span>
        <span class="actions">
          <%= f.submit %>
        </span>
        <%= render "has_many_comment" %>
      <% end %>
    <% elsif @micropost.is_public?%>
      <%= wrap(@micropost.content) %>
      <%= form_for [current_user, @micropost, @comments] do |f| %>
        <% if @comments.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this micropost from being saved:</h2>
            <ul>
              <% @comments.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <span class="field">
          <%= f.label :content %><br>
          <%= f.text_field :content %>
        </span>
        <span class="actions">
          <%= f.submit %>
        </span>
        <%= render "has_many_comment" %>
      <% end %>
    <% end %>
  </div>
</div>