<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <section>
        <%= render 'shared/user_profile' %>
      </section>
    </aside>
    <div class="span8">

      <h3>New feeds</h3>
      <ul class="posts">
        <% @microposts.each do |f| %>
        <% if f.user_id == current_user.id %>
          
          <%= render "shared/list_microposts", f: f %>
        <% elsif f.is_public? %>
          <%= render "shared/list_microposts", f: f %>
         <% end %> 
      <% end %>

      </ul>


    </div>
  </div>
<% else %>
	<div class="center hero-unit">
		<h1>Wellcome to Facebook</h1>
		<h2>
			Connect with friends and the world around you on Facebook. 
		</h2>
		<%= link_to "Signup now!!!", signup_path, class: "btn btn-large btn-primary"%>
	</div>
<% end %>