<% provide(:title, "Facebook") %>
<% if signed_in? %>
  <div class="left-sidebar">
    <%= render "layouts/left_sidebar" %>
  </div>
  <div class="main-content">
    <section>
      <%= render "shared/micropost_form", user: current_user %>
    </section>
    <h3>
      New feeds
    </h3>
    <ul class="posts">
      <% @microposts.each do |micropost| %>
        <% if (current_user.id == micropost.friend_id || current_user.friends.include?(User.find(micropost.friend_id))) && micropost.is_public? %>
          <%= render "shared/list_microposts", micropost: micropost %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% else %>
	<div class="home">
    <div class="home-center">
      <div class="clear-fix">
		    <div class="left">
          <div class="left-zoom">
            <div class ="font-home">
              Facebook helps you connect and share with the people in your life.
            </div>
            <div class="image-home">
              <%= image_tag ("home.png") %>
            </div>
          </div>
        </div>
        
        <div class="right">
          <div class="top-right">
            <h3>Sign Up</h3>
            It's free and always will be.
          </div>
            <div class="">
              <%= form_for(User.new) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <%= f.text_field :name, placeholder: "Name" %>
                <%= f.text_field :email, placeholder: "Your email address" %>
                <%= f.password_field :password, placeholder: "New Password" %>
                <%= f.password_field :password_confirmation, placeholder: "Re-enter password" %>
                <%= f.submit "Sign Up", class: "btn btn-large btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>