<% provide(:title, "Photo") %>
<div class="main-content">
  <div class="center">
    <h1>
      Photo
    </h1>
    <span class="image">
      <%= image_tag @image.image.url(:small) %>
    </span>
  </div>
  <br/>
  <section>
    <ul class="posts">
      <%= link_to gravatar_for(@image.user), @image.user %>
      <li class="user">
        <%= link_to @image.user.name, @image.user %>
      </li>
      <span class="timestamp">
        about <%= time_ago_in_words @image.created_at %> ago.
        <% if current_user.id == @image.user_id %>
          <%= link_to "Delete Photo", "", method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
        <%= render "images/like_image" %> 
      </span>              
    </ul>
  </section>
  <section>
    <%if @image.has_comment? %>
      <div class="comment-display">
        <% @image.image_comments.each do |image_comment| %>
          <% if image_comment.user %>
            <div class="comment-display">
              @<%= image_comment.user.name %>:
              <%= image_comment.content %>
              <%= render "images/like_image_comment", image_comment: image_comment %>
              <% if image_comment.user_id == current_user.id %>
                <%= link_to "Edit", "", class: "non-redirect edit_comment_btn" %>
              <% end %>
              <% if image_comment.user_id == current_user.id || current_user.id == @image.user_id %>
                <%= link_to "Del", user_album_image_image_comment_path(current_user, @album, @image, image_comment), method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            </div>
            <div class="edit_comment_wrap">
              <%= form_for [current_user, @album, @image, image_comment] do |f| %>
                <%= f.text_field :content %>
                <%= f.submit "Update", class: "btn btn-primary non-redirect update_comment_btn" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= form_for [@user, @album, @image, @image_comment] do |image_comment| %>
      <span class="field">
        <%= image_comment.text_field :content, placeholder: "Comment.."  %>
        <%= image_comment.submit "Post" %>
      </span>
    <% end %>
  </section>
</div>