<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "facebook", root_path, id: "logo" %>
      <%= link_to "Search Friends", users_path( action: "search" ), id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
          <li>
            <span class="avatar-supersmall">
            <% if current_user.avatar.blank? %>
              <%= image_tag("no_ava.jpg")%>
            <% elsif current_user.avatar? %>
              <%= image_tag(current_user.avatar)%>
            <% end %>
          </li>
            <li><%= link_to current_user.name, user_path(current_user) %></li>
          <% end %>
          <li><%= link_to "Home", root_path %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= image_tag("favicon(1).ico") %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>